/* Global */

:root {
    --primary-color: #1c6819;
    --main-btn-colour: #78c1ec;
    --danger-btn-colour: #E24A54;
    --main-background-color: #cddbc8;
    --tertiary-color: #72AD7f;
    --secondary-background-color: #e6d0c3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: unset;
}

p {
    padding: 0.125em;
    margin: 0 1em;
}

body {
    background-color: var(--main-background-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrap {
    margin: 2em;
}

.main-btn {

    padding: 0.5em 3em;
    font-size: 1.25rem;
    background-color: var(--main-btn-colour);
    margin: 2em auto;
    display: block;
}

.danger-btn {

    padding: 0.5em 1.5em;
    font-size: 1.125rem;
    background-color: var(--danger-btn-colour);

}

.danger-btn-small {
    padding: 0.25em 0.5em;
    background-color: var(--danger-btn-colour);

}



/* Font and text displays */

h1 {
    font-size: 3rem;
    display: inline;
    margin: 0.5em 0 1em 0;
    color: var(--primary-color);
    letter-spacing: 4px;

}







/* Homepage */

/* Main content grid display */

.container {
    display: grid;
    gap: 5em;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, auto);
    justify-content: center;
    margin: 0 2em;

}

.row {
    display: flex;
    gap: 2em;
    justify-content: space-evenly;
}

.tree-container {
    background-color: #fff;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px #395840;
    text-align: center;
}

.tree-container h3,
h4 {
    background-color: var(--tertiary-color);
    padding: 0.25em;
}

/*Minor elements..*/

nav {
    display: flex;
    align-items: center;
    padding: 1em;
    border-bottom: solid black 2px;
    background-color: var(--secondary-background-color);
}


.nav-link {
    padding: 0.25em;
    margin: 0 1em;
    text-decoration: underline;
}

.nav-link:hover {
    color: var(--primary-color);
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 2em;
}

#search-box {
    display: flex;
    flex-direction: column;

}

#search-box div {
    display: flex;
}

#search-box h3 {
    margin: 0.25em 0;

}

#search {

    text-align: center;
    padding: 0 1em;
    font-size: 1rem;
    margin-right: 0.25em;
}

#search-btn {
    font-size: 1rem;
    padding: 0.25em;
    background-color: var(--main-btn-colour);
}


/* Create new Tree */

#create-new-plant-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 4em;
    gap: 2em;
}

form {
    font-size: 1.25rem;
}

form input,
form select {
    font-size: 1.125rem;
    padding: 0.125em 0.25em;
    width: 300px;
    margin: 0.375em 0;
}

form h3 {
    margin: 0.5em 0;
    font-size: 1.25em;

}

#new-tree-display {
    min-width: 550px;
    height: 650px;
    background-color: #fff;
    border: solid black 2px;
}

/* User tree page */

#user-tree-display-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user-tree-display {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 550px;
    background-color: #fff;
    border: solid black 2px;
}

.tree-image {
    width: 100%;
}

#tree-details-container {
    display: flex;
    background-color: var(--secondary-background-color);
    padding: 2em;
    border: solid black 2px;
    border-top: none;
    justify-content: space-between;
}

#delete-btn-container {
    position: absolute;
    right: 0;
    bottom: 0;
}

#delete-close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
}

#delete-overlay {
    position: absolute;

    display: flex;
    flex-direction: column;
    background-color: #FFE8E8;
    width: 250px;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
    text-align: center;
    gap: 0.5em;
    border: solid black 2px;
}

#delete-overlay p {
    font-size: 1.125em;
}

#delete-overlay input {
    font-size: 1em;
    padding: 0.125em;
    text-align: center;
    margin: 0.25em 0;
}