/* Global */

:root {
    --main-btn-colour: #77E7FF;
    --danger-btn-colour: #E24A54;
    --main-background-color: #72AD7f;
}

* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #72AD7F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrap {
    margin: 2em;
}

.main-btn {

    padding: 0.5em 3em;
    font-size: 1.25rem;
    background-color: var(--main-btn-colour);
    margin: 2em auto;
    display: block;
}

.danger-btn {

    padding: 0.5em 1.5em;
    font-size: 1.125rem;
    background-color: var(--danger-btn-colour);

}



/* Font and text displays */

h1 {
    font-size: 3rem;
    display: inline;
    margin: 1em 0;
    color: #77E7FF;
    letter-spacing: 4px;

}

h3 {
    margin: 0.25em 0;
}

/* Homepage */

/* Main content grid display */

.container {
    display: grid;
    gap: 4em;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 300px);
    justify-content: center;
    margin: 0 2em;
}

.row {
    display: flex;
    gap: 2em;
    justify-content: space-evenly;
}

.tree-container {
    width: 300px;
    height: 300px;
    border: solid black 2px;
    background-color: #fff;
}

/*Minor elements..*/

header {
    display: flex;
    justify-content: space-between;
    margin: 0 2em;
}

#search-box {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
}

#search-box div {
    display: flex;
}

#search-input {
    text-align: center;
    height: 20px;
}

#search-btn {
    height: 24px;
}


/* Create new Tree */

#create-new-plant-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 4em;
    gap: 2em;
}

form {
    font-size: 1.25rem;
}

form input,
form select {
    font-size: 1.125rem;
    padding: 0.125em 0.25em;
    width: 300px;
    margin: 0.375em 0;
}

form h3 {
    margin: 0.5em 0;
    font-size: 1.25em;

}

#new-tree-display {
    min-width: 550px;
    height: 650px;
    background-color: #fff;
    border: solid black 2px;
}

/* User tree page */

#user-tree-display-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user-tree-display {
    position: relative;
    width: 600px;
    height: 550px;
    background-color: #fff;
    border: solid black 2px;
}

#tree-details-container {
    display: flex;
    background-color: #80C68F;
    padding: 2em;
    border: solid black 2px;
    border-top: none;
    justify-content: space-between;
}

#delete-btn-container {
    position: absolute;
    right: 0;
    bottom: 0;
}

#delete-overlay {
    position: absolute;
    top: 20%;
    left: 25%;
    display: flex;
    flex-direction: column;
    background-color: #FFE8E8;
    width: 250px;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
    text-align: center;
    gap: 0.5em;
    border: solid black 2px;
}

#delete-overlay p {
    font-size: 1.125em;
}



#delete-overlay input {
    font-size: 1em;
    padding: 0.125em;
}